<!-- <div class="canvas">
  <div class="controls" id="js-controls">
    <ul class="list">
      <li class="list__item" *ngFor="let c of colors">
        <button id="js-control-red" data-color="red" class="control control--red">Red</button>
      </li>
      <li class="list__item">
        <button id="js-control-blue" data-color="blue" class="control control--blue">Blue</button>
      </li>
      <li class="list__item">
        <button id="js-control-green" data-color="green" class="control control--green">Green</button>
      </li>      
      <li>
        <button id="js-control-yellow" data-color="Yellow" class="control control--yellow">Yellow</button>
      </li>   
    </ul>
  </div>
    <div id="js-grid" class="grid">
      
    </div>
  
  </div> -->
  <app-grid></app-grid>