svg {
  color: inherit;
  display: block;
  fill: inherit;
  height: 100%;
  left: 50%;
  min-height: 15px;
  min-width: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
