@function calc-rem($n, $b:16) {
  $x: $n / $b;

  @return #{$x}rem;
}

// MEDIA QUERY
@mixin media-min-xs {
  @media only screen and (min-width: calc-rem($media-xs)) {
    @content;
  }
}

// ANIMATING
@mixin animate($properties: all, $duration: $animation-speed, $easing: $easing, $delay: 0s) {
  @if $properties == transform {
    transition: transform $duration $easing $delay;
  } @else {
    @if length($properties) > 1 {
      $new-properties: string.unquote("");

      @for $i from 1 through length($properties) {
        $p: list.nth($properties, $i);

        @if $i == length($properties) {
          $new-properties: $new-properties + $p;
        } @else {
          $new-properties: $new-properties + $p + ", ";
        }
      }

      transition-delay: $new-properties $duration $easing $delay;
    } @else {
      transition: $properties $duration $easing $delay;
    }
  }
}
